{% extends "base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li class="active"><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
<table class="table table-hover">
        <caption>RentalTrends</caption>
        <thead>
            <tr>
                <th>mostPopularVehicle</th>
                <th>mostPopularType</th>
                <th>mostPopularMonth</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td>{{ item.mostPopularVehicle}}</td>
                <td>{{ item.mostPopularType }}</td>
                <td>{{ item.mostPopularMonth}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}