{% extends "base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li class="active"><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
    <table class="table table-hover">
        <caption>StoreTrends</caption>
        <thead>
            <tr>
                <th>storeID</th>
                <th>storeProductivity</th>
                <th>mostProductiveMonth</th>
                <th>mostRentedVehicle</th>
                <th>mostPickupOrReturn</th>
            </tr>
        </thead>
        <tbody>
            {% for store in store_list %}
            <tr>
                <td>{{ store.storeID }}</td>
                <td>{{ store.storeProductivity }}</td>
                <td>{{ store.mostProductiveMonth }}</td>
                <td>{{ store.mostRentedVehicle }}</td>
                <td>{{ store.mostPickupOrReturn }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}