{% extends "base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li class="active"><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}


{% block content %}
	    <h1 align="center">Vehicles</h1>
        {% for car in car_list %}
 		<div class="panel panel-default" align="center">
  			<div class="panel-heading">
   				 <h3 class="panel-title">
					{{ car.carMakeName }}
                	{{ car.carModel}}
               		{{ car.carSeries}}
                	{{ car.carSeriesYear }}</h3>
  			</div>
  			<div class="panel-body">
				{% load static %}
				<img src="{% static '/'|add:car.carMakeName|add:'.png' %}">
  	  			{{ car.carID}}
                {{ car.carPriceNew }}
                {{ car.carEngineSize }}
                {{ car.carFuelSystem }}
                {{ car.carTankCapacity }}
                {{ car.carPower }}
                {{ car.carSeatingCapacity }}
                {{ car.carStandardTransmission }}
                {{ car.carBodyType }}
                {{ car.carDrive }}
                {{ car.carWheelbase }}
  			</div>
		</div>
                
            
            {% endfor %}


{% endblock content %}