{% extends "base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
	<li><a href="/legalresources/">Legal Resources</a></li>
        <li><a href="/faqs/">FAQs</a></li>
	{% if user.is_authenticated %}
        <li><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
    <h1>Customer Details</h1>
    <!-- HTML table for containing customer details -->
    <table style="width: 100%" border="1px gray">
    <tr bgcolor="#ECF0F1">
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Customer Phone</th>
        <th>Customer Address</th>
        <th>Customer DOB</th>
        <th>Customer Gender</th>
        <th>Customer Occupation</th>
    </tr>

    <!-- Loops the customer details QuerySet and inserts unique customer details in each row of the table -->
    {% for customer in customer_list %}
        <tr bgcolor="#FDFEFE">
        <th>{{ customer.customerID }}</th>
        <th>{{ customer.customerName }}</th>
        <th>{{ customer.customerPhone }}</th>
        <th>{{ customer.customerAddress }}</th>
        <th>{{ customer.customerDOB }}</th>
        <th>{{ customer.customerGender }}</th>
        <th>{{ customer.customerOccupation }}</th>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}
