{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/stores/">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
	<li><a href="/legalresources/">Legal Resources</a></li>
        <li><a href="/faqs/">FAQs</a></li>
	<li><a href="/contact/">Contact</a></li>
		{% if user.is_authenticated %}
        <li class="active"><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
	<div align="center">
        <h2>Welcome to the Employee Dashboard, {{ currentUser.username }}!</h2><br>

        <style>
            .round {
                width: 50%;
                border-radius: 13px;
                border: 1px #000 solid;
                padding: 5px 5px 5px 25px;
                top: 0;
                left: 0;
                z-index: 5;
                border-color: #898989;
            }
            .corner {
                top: 3px;
                left: 5px;
                height: 30px;
                width: 80px;
                z-index: 10;
                border-radius: 10px;
            }
        </style>

		<form method="GET" action="{% url 'search' %}" style="margin: 0">
				<b>Employee Search:&emsp;</b><input  id="search_box" type="search" name="search_box"  placeholder="Search..." class="round" >
				&emsp;<button id="search_submit" type="submit" class="corner" >Submit</button>
		</form><br>
        <h3>Quick Links</h3>
		<div class="list-group">
            <a href="/vehiclerecommendation/" class="list-group-item">Recommend a Vehicle</a>
            <a href="/rentaltrends/" class="list-group-item">View Rental Trends</a>
            <a href="/storetrends/" class="list-group-item">View Store Trends</a>
            <a href="/customerdetails/" class="list-group-item">View Customer Details</a>
		</div>
	</div>
{% endblock content %}
