{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/stores/">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
		{% if user.is_authenticated %}
        <li class="active"><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
	<div align="center">
		<h2>Dashboard</h2>
		<form method="GET" action="{% url 'search' %}" style="margin: 0">
				<input  id="search_box" type="search" name="search_box"  placeholder="Search..." >
				<button id="search_submit" type="submit" >Submit</button>
		</form>
		<div class="list-group">
				<a href="/rentaltrends/" class="list-group-item">View Rental Trends</a>
				<a href="/storetrends/" class="list-group-item">View Store Trends</a>
				<a href="/vehiclerecommendation/" class="list-group-item">Recommend a Vehicle</a>
				<a href="/customerdetails/" class="list-group-item">Customer Details</a>
		</div>
	</div>
{% endblock content %}
