{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">View Cars</a></li>
        <li><a href="#">About Us</a></li>
	{% if user.is_authenticated %}
        <li class="active"><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
  	<h2>Dashboard</h2>
	<form type="get" action="." style="margin: 0">
    		<input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    		<button id="search_submit" type="submit" >Submit</button>
	</form>
  	<div class="list-group">
    		<a href="#" class="list-group-item">View Rental Trends</a>
    		<a href="#" class="list-group-item">View Store Trends</a>
  	</div>
{% endblock content %}