{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
    <h2>Quick Links</h2>
  	<div class="list-group">
            <a href="/vehiclerecommendation/" class="list-group-item">Recommend a Vehicle</a>
  	</div>
{% endblock content %}