{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="/stores/">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
    <h1 align="center">{{ storeObj.storeName }} (ID: {{ storeObj.storeID }})</h1>
    <br>
    <ul>
        <li><b>Store ID: {{ storeObj.storeID }}</b></li>
        <li><b>Store Name:</b> {{ storeObj.storeName }}</li>
        <li><b>Store Address:</b> {{ storeObj.storeAddress }}</li>
        <li><b>Store Phone:</b> {{ storeObj.storePhone }}</li>
        <li><b>Store City:</b> {{ storeObj.storeCity }}</li>
        <li><b>Store State Name:</b> {{ storeObj.storeStateName }}</li>
    </ul>
    <br>

    <a href="{% url 'rentalhistory' %}?id={{ storeObj.storeID }}" class="list-group-item">View Rental History</a>

{% endblock content %}
