<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Recommendation Results Page</title>
</head>
<body>
<style>
    ul{
        list-style-type: none;
    }
</style>

<h1>Vehicle  Results</h1>
<p><i>{{ search_count }} results available.</i></p>
<ul>
    {% if results %}
        {%  for item in results %}
            <li><b>Car {{ item.carID }}</b></li>
            <li><b>Car Body Type: </b> {{ item.carBodyType }}</li>
            <li><b>Car Standard Transmission: </b> {{ item.carStandardTransmission }}</li>
            <li><b>Car Engine Size: </b> {{ item.carEngineSize }}</li>
            <li><b>Car Fuel System: </b> {{ item.carFuelSystem }}</li>
            <li><b>Car Series Year: </b> {{ item.carSeriesYear }}</li>
            <li><b>Car Model: </b> {{ item.carModel }}</li>
            <br>
        {% endfor %}
    {% endif %}

    {% if results ==  None %}
        <li><i>Sorry. There are no available results.</i></li>
    {% endif %}

</ul>

<p><a href="{{request.META.HTTP_REFERER}}">Back</a></p>

</body>
</html>