{% extends "WebApp/base.html" %}

{% block navbuttons %}
        <li><a href="/home/">Home</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="/vehiclelist/">View Cars</a></li>
        <li><a href="/aboutus/">About Us</a></li>
		<li><a href="/legalresources/">Legal Resources</a></li>
	{% if user.is_authenticated %}
        <li><a href="/dashboard/">Employee Dashboard</a></li> <!--show dashboard link for employees only-->
      	{% endif %}
{% endblock navbuttons %}

{% block content %}
    <h1 align="center">Recommend a Vehicle </h1>
    <form method="GET" action="{% url 'vehiclerecommendationresults' %}" style="margin: 0">
    	<input  id="car_box" type="text" name="car_box"  placeholder="Car Type..." >
        <input  id="transmission_box" type="text" name="transmission_box"  placeholder="Transmission Type..." >
        <input  id="engine_box" type="text" name="engine_box"  placeholder="Engine Type..." >
        <input  id="fuel_box" type="text" name="fuel_box"  placeholder="Fuel Type..." >
        <input  id="year_box" type="text" name="year_box"  placeholder="Year..." >
        <input  id="model_box" type="text" name="model_box"  placeholder="Model..." >
    	<button id="recommend_submit" type="submit" >Submit</button>
	</form>

{% endblock content %}